.imageCard {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  width: 207px;
}

.truncateTitle {
  width: 194px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageCard > p {
  margin: 2px;
}

.shopTitle {
  color: rgb(100, 100, 100);
}

.imageCard > h3 {
  margin: 2px;
}

.productImage {
  width: 206px;
  height: 164px;
  border-radius: 2px;
}

.productImage:hover {
  box-shadow: dimgray 1px 1px 5px 1px;
}

.freeShipping {
  display: inline-block;
  background-color: rgba(124, 204, 177, 0.412);
  padding: 1px 5px;
  border-radius: 15px;
  font-size: 12px;
}

@media only screen and (max-width: 1100px) {
  .imageCard {
    width: 167px;
  }

  .truncateTitle {
    width: 164px;
  }

  .productImage {
    width: 166px;
    height: 144px;
    border-radius: 2px;
  }
}

@media only screen and (max-width: 900px) {
  .imageCard {
    width: 147px;
  }

  .truncateTitle {
    width: 144px;
  }

  .productImage {
    width: 146px;
    height: 124px;
    border-radius: 2px;
  }
}
